<div class="btn " (click)="home()">
    <span class="material-icons">
      arrow_back
    </span>
  </div>
<div class="contentAbout" id="scrollAbout">
    <div class="circleFoto">
        <img src="assets/images/Foto.jpg" alt="" srcset="">
    </div>
    <div class="yellowText">
        <h1 class="titleAbout">Francisco Acosta</h1>
        <p class="textAbout">
            Buen dia, por los medios siguientes podras contactar conmigo:
        </p>
        <ul class="listAbout1">
            <li>
                <a href="https://github.com/FranciscoAcosta-ctrl"> <img src="assets/images/github.png" alt="" srcset=""> Gifhub</a>
            </li>
            <li><a> <img src="assets/images/whatsapp.png" alt="" srcset=""> +52 55 79945189</a></li>
            <li><a> <img src="assets/images/gmail.png" alt="" srcset=""> franciscow4tcher@gmail.com</a></li>
        </ul>
    </div>
</div>