$red: #bd3736;
$black: #424242;
$white: #fcfcfc;
$yellow: #FFD924;


/*Types : Naturaleza del pokemon*/
.normal{
    $normal: #aaaaaa;
    background-color: $normal;
}
.fighting{
    $fighting: #F73A00;
    background-color: $fighting;
}
.fliying{
    $flying: #C9DEFA;
    background-color: $flying;
}
.poison{
    $poison: #8614DE;
    background-color: $poison;
}
.ground{
    $ground: #7A5938;
    background-color: $ground;
}
.rock{
    $rock: #3B2B1B;
    background-color: $rock;
}
.bug{
    $bug: #4d804b;
    background-color: $bug;
}
.ghost{
    $ghost: #35077A;
    background-color: $ghost;
}
.steel{
    $steel: #373A3D;
    background-color: $steel;
}
.fire{
    $fire: #ff8750d2;
    background-color: $fire;
}
.water{
    $water: #3ca1ff;
    background-color: $water;
}
.grass{
    $grass: #4edd46;
    background-color: $grass;
}
.electric{
    $electric: #FAE801;
    background-color: $electric;
}
.psychic{
    $psychic: #FA70D0;
    background-color: $psychic;
}
.ice{
    $ice: #00E5FA;
    background-color: $ice;
}
.dragon{
    $dragon: #cf94ff;
    background-color: $dragon;
}
.dark{
    $dark: #222222;
    background-color: $dark;
}
.fairy{
    $fairy: #ffa4e4;
    background-color: $fairy;
}
.unknown{
    $unknown: #929292;
    background-color: $unknown;
}
.shadow{
    $shadow:#20122b;
    background-color: $shadow;
}